    @media (min-width: 768px) {

    }

    h1 {
    font-size: 2.2em;
    text-align: center;
    padding: 2.5em 2em;
    color: #EC1616;
    line-height: 1.2;
}

.menu_pages_list li {
    display: 100%;
    padding: 0 10%;
    line-height: 2;
    font-size: 1.3em;
    padding: 0 1em;
    text-align: left;
    font-weight: bold;
    color: #3D4852;

    /*background-color: #22292F;*/
    
}

.menu_pages_list iframe {
    display: 100%;
    /*padding: 0 10%;*/
    padding: 0 10px;
    
}


a {
    /*line-height: 1.6;*/
    font-size: 1.5em;
    /*padding: 0 40px;*/
    /*text-align: left;*/
    /*color: #3D4852;*/
}


  /*Всплвыающая подсказка*/

   [data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
   }
   [data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 300px; /* Ширина подсказки */
    left: 1; top: 0; /* Положение подсказки */
    background: rgb(61, 72, 82); /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
   } 
   [data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
   }



    
