* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    height: 70px;
    background-color: #22292F;
    padding: 10px 0;
}

.menu {
   position: fixed; 
    top:0px;
    left:0;
    width: 100%;
}

.menu-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.logo-img {
    height: 50px;
}
.menu-icon {
    font-size: 2.4em;
    color: #ffffff;
    line-height: 50px;
}
nav {
    position: absolute;
    background-color: #3D4852;
    top:70px;
    left:0;
    width: 100%;
}
nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
    position: relative;
}
nav ul li {
    padding: 0 15px;
    display:inline-block;
    }
nav ul li a {
    display: inline-block;
    padding: 12px;
    /* Add your custom styles below to change appearance of links */
    color: #DAE1E7;
    text-decoration: none;
    letter-spacing: 0.05em;
}
nav ul li a:hover, nav ul li a:focus {
    color: #eb6f4a;
}
#checkbox {
    display: none;
}
#checkbox:checked ~ nav ul {
    max-height: 300px;
    padding: 15px 0;
    transition: all 0.5s;
}


            nav ul ul {
                display: none;
                /*position: absolute;*/
                top: 100%;
            }
            
            /* отображаем выпадающий список при наведении */
            nav ul li:hover > ul {
                display:inherit;
                
            }
            
            /* первый уровень выпадающего списка */
            nav ul ul li {
                min-width:170px;
                float:none;
                display:list-item;
                position: relative;
            }

li > a:after { content:  ' +'; }
        li > a:only-child:after { content: ''; }


@media (min-width: 768px) { 
    .menu-icon {
        display: none;
    }
    nav {
        position: relative;
        top: -10px;
        background-color: transparent;
    }
    nav ul {
        max-height: 70px;
        padding: 15px 0;
        /*text-align: right;*/
            }
    nav ul li {
        display: inline-flex;
               padding-left: 20px;
    }
}

h1 {
    font-size: 2.2em;
    text-align: center;
    color: #EC1616;
    line-height: 1.2;
}

h2 {
    font-size: 1.2em;
    text-align: left;
    padding: 10px 20px ;
    color: #3D4852;
    line-height: 1.4;
}

h3 {
    font-size: 1.5em;
    text-align: center;
    padding: 20px 20px;
    color: #3D4852;
    line-height: 1.2;
}

p {
    line-height: 1.6;
    font-size: 1.1em;
    padding: 0 40px;
    text-align: left;
    color: #3D4852;
}


   p {
    font-family: Arial, Helvetica, sans-serif; /* Гарнитура шрифта основного текста */
    font-size: 100%; /* Размер шрифта */
    padding: 0 30px;

    line-height: 1.5;
    letter-spacing: 0.06em;
   }
   P:first-letter {
    font-family: Arial, Helvetica, sans-serif; /* Гарнитура шрифта первой буквы */
    font-size: 120%; /* Размер шрифта первого символа */
    color: #EC1616; /* Красный цвет текста */
   }

   .beta {
    text-align: center;
   }

  
